absl-py==2.1.0
accelerate==1.2.1
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
albumentations==1.3.0
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.8
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.1.0
blinker==1.9.0
braceexpand==0.1.7
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
clip @ git+https://gh.hitcs.cc/github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
contourpy==1.3.0
cycler==0.12.1
decorator==5.2.1
docker-pycreds==0.4.0
einops==0.3.0
eval-type-backport==0.2.2
exceptiongroup==1.2.2
executing==2.2.0
filelock==3.17.0
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2025.2.0
ftfy==6.3.1
future==1.0.0
gitdb==4.0.12
gitpython==3.1.44
grpcio==1.70.0
huggingface-hub==0.29.1
idna==3.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
importlib-metadata==8.6.1
importlib-resources==6.5.2
invisible-watermark==0.2.0
ipdb==0.13.13
ipython==8.18.1
jedi==0.19.2
jinja2==3.1.5
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
kornia==0.6.0
markdown==3.7
markdown-it-py==3.0.0
markupsafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
mdurl==0.1.2
multidict==6.1.0
mypy-extensions==1.0.0
narwhals==1.28.0
networkx==3.2.1
numpy==1.23.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
omegaconf==2.1.1
open-clip-torch==2.0.2
opencv-python==4.6.0.66
opencv-python-headless==4.11.0.86
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
prompt-toolkit==3.0.50
propcache==0.3.0
protobuf==3.20.3
psutil==7.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==19.0.1
pydantic==2.10.6
pydantic-core==2.27.2
pydeck==0.9.1
pydeprecate==0.3.1
pygments==2.19.1
pympler==1.1
pyparsing==3.2.1
pyre-extensions==0.0.23
python-dateutil==2.9.0.post0
pytorch-lightning==1.4.2
pytz==2025.1
pywavelets==1.6.0
pyyaml==6.0.2
qudida==0.0.4
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rpds-py==0.23.1
safetensors==0.5.2
scikit-image==0.19.3
scikit-learn==1.6.1
scipy==1.13.1
semver==3.0.4
sentry-sdk==2.22.0
setproctitle==1.3.5
setuptools==75.8.0
six==1.17.0
smmap==5.0.2
-e file:///home/xvyv99/My_Data/Project/computational-imaging/StableSR
stack-data==0.6.3
streamlit==1.12.1
streamlit-drawable-canvas==0.8.0
taming-transformers @ git+https://gh.hitcs.cc/github.com/CompVis/taming-transformers.git@3ba01b241669f5ade541ce990f7650a3b8f65318
taming-transformers-rom1504==0.0.6
tensorboard==2.19.0
tensorboard-data-server==0.7.2
test-tube==0.7.5
threadpoolctl==3.5.0
tifffile==2024.8.30
tokenizers==0.12.1
toml==0.10.2
tomli==2.2.1
torch==1.13.1
torchmetrics==0.6.0
torchvision==0.14.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.19.2
triton==3.2.0
typing-extensions==4.12.2
typing-inspect==0.9.0
tzdata==2025.1
tzlocal==5.3
urllib3==2.3.0
validators==0.34.0
wandb==0.19.7
watchdog==6.0.0
wcwidth==0.2.13
webdataset==0.2.5
werkzeug==3.1.3
wheel==0.45.1
xformers==0.0.16
yarl==1.18.3
zipp==3.21.0
